/* Event Borders Colors CSS v1.0 
 *
 * Sets Event Color by Custom Field Value. Please define 
 * a list of CSS classes for each individual custom field 
 * value. The example below creates 4 classes for the 
 * custom field "Reminder Type". Each of the 4 values 
 * defines a 5 pixel wide left border, and a border color
 * that is distinct for each reminder type.
 */
 
.reminderType_checkin_class {
    border-left: 5px solid rgb(0, 204, 255) !important;
  }
  
.reminderType_ee_class {
    border-left: 5px solid green !important;
}

.reminderType_tshoot_class {
    border-left: 5px solid orange !important;
}

.reminderType_olass {
    border-left: 5px solid darkblue !important;
}
  
