/* Move Event to Cliboard v1.0 CSS */

.moveToClipboardButton button {
    background-color: rgb(50, 118, 177);
    border-color: rgb(50, 118, 177);
}

.moveToClipboardButton button:active {
    background-color: rgb(50, 118, 177);
    color: white;
}   
  
.moveEventFromClipboardCursor {
    cursor: copy;
}

.eventInClipboard {
    border-style: dashed;
    background-color: #DDD !important;
    color: #AAA !important;
    background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 5px,
    #ddd 5px,
    #eee 20px
  );   
}

.eventInClipboard a {
  color: #AAA !important;
}

/* End - Move Event to Cliboard v1.0 CSS */
