/* Enhanced Keyboard Shortcuts v1.0 CSS */

.keyHelpCointainer {
    text-align: left;
    display: block;
}

.keyHelpCointainer .name {
    display: block;
    padding: 10px;
    min-width: 50%;
    font-weight: 700;
    float:left;
}

.keyHelpCointainer .shortcut {
    display: block;
    min-width: 50%;
    padding: 10px;
    text-align: right;
    font-weight: 700;
    color: lightgreen !important;
}

.keyHelpCointainer .description {
    display: block;
    min-width: 100%;
    padding: 10px;
    padding-top: 0px; 
    padding-bottom: 0px;
    font-size: 9pt;
    color: lightgray !important;
} 

.keyHelpCointainer .moreshortcuts {
    padding-top: 15px;
    color: white !important;
    text-align: right;
}

.keyHelpCointainer .moreshortcuts a { 
    color: lightgreen !important; 
    text-decoration: underline; 
}

