/* 
 * Highlight Event Errors and Warnings
 */

#calendar {
    --colors-error: red;
    --colors-error-light: pink;
    --colors-warning: orange;
    --colors-warning-light: #fea;
    --colors-changed: lightblue;
    --colors-changed-light: lightblue;
}

/* Event Pill Colors */

.noShow { display: none !important;}
.fc-event.hasError { box-shadow: 0px 0px 10px var(--colors-error); }

.fc-event.hasError { border: 1px solid var(--colors-error) !important; }
.fc-event.hasError .errorIconContainer { float: right; color: var(--colors-error); text-shadow: 0px 0px 3px rgba(255,255,255,0.9); }

.fc-event.hasWarning { box-shadow: 0px 0px 10px var(--colors-warning); }
.fc-event.hasWarning { border: 1px solid var(--colors-warning) !important; }
.fc-event.hasWarning .warningIconContainer { float: right; color: var(--colors-warning); text-shadow: 0px 0px 3px rgba(255,255,255,0.9); }
.fc-event.hasError.hasWarning .warningIconContainer { display: none;}

.fc-event:not(.hasWarning) .warningIconContainer { display: none; }
.fc-event:not(.hasError) .errorIconContainer { display: none; }

/* Popover Error Highlighting */

/* Has Error Colors */

.dbk_editEvent .panel-selector.hasError:before {
    content: '\f06a';
    color: var(--colors-error);
    position: absolute;
    display: inline;
    left: 6px;
    font-family: 'FontAwesome';
}

.dbk_editEvent .panel-selector.hasError .dbk_label,
.dbk_editEvent .panel-selector.hasError .text-right {
    color: var(--colors-error);
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.dbk_editEvent .panel-selector.hasError.dbk_selected:before,
.dbk_editEvent .panel-selector.hasError.dbk_selected .dbk_label, 
.dbk_editEvent .panel-selector.hasError.dbk_selected .text-right {
    color: var(--colors-error-light);
}

textarea#title.hasError { box-shadow: 0px 0px 5px var(--colors-error); }
textarea#title.hasError { border: 1px solid var(--colors-error); }

div[field="description"].hasError { box-shadow: 0px 0px 5px var(--colors-error); }
div[field="description"].hasError { border: 1px solid var(--colors-error); }

/* Has Warnings */

.dbk_editEvent .panel-selector.hasWarning:before {
    content: '\f06a';
    color: var(--colors-warning);
    position: absolute;
    display: inline;
    left: 6px;
    font-family: 'FontAwesome';
    
}

.dbk_editEvent .panel-selector.hasWarning .dbk_label,
.dbk_editEvent .panel-selector.hasWarning .text-right {
    color: var(--colors-warning);
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.dbk_editEvent .panel-selector.hasWarning.dbk_selected:before,
.dbk_editEvent .panel-selector.hasWarning.dbk_selected .dbk_label, 
.dbk_editEvent .panel-selector.hasWarning.dbk_selected .text-right {
    color: var(--colors-warning-light);
}

textarea#title.hasWarning { box-shadow: 0px 0px 5px var(--colors-warning); }
textarea#title.hasWarning { border: 1px solid var(--colors-warning); }

div[field="description"].hasWarning { box-shadow: 0px 0px 5px var(--colors-warning); }
div[field="description"].hasWarning { border: 1px solid var(--colors-warning); }

/* Has Changed */

/* .dbk_editEvent .panel-selector.hasChanged:before {
    content: '\f06a';
    color: var(--colors-changed);
    position: absolute;
    display: inline;
    left: 6px;
    font-family: 'FontAwesome';
    
} */

.dbk_editEvent .panel-selector.hasChanged .dbk_label,
.dbk_editEvent .panel-selector.hasChanged .text-right {
    color: var(--colors-changed);
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.dbk_editEvent .panel-selector.hasChanged.dbk_selected:before,
.dbk_editEvent .panel-selector.hasChanged.dbk_selected .dbk_label, 
.dbk_editEvent .panel-selector.hasChanged.dbk_selected .text-right {
    color: var(--colors-changed-light);
}

textarea#title.hasChanged { box-shadow: 0px 0px 5px var(--colors-changed); }
textarea#title.hasChanged { border: 1px solid var(--colors-changed); }

div[field="description"].hasChanged { box-shadow: 0px 0px 5px var(--colors-changed); }
div[field="description"].hasChanged { border: 1px solid var(--colors-changed); }

/* Optional Shimmer */

.fc-event.hasError .shimmer {
    position: absolute;
    top: 0px; left: 0px;
    height: 100%;
    width: 80%;
    display: block;
    background: linear-gradient(100deg, rgba(255,0,0,0) 20%, rgba(255,255,255, 0.3) 50%, rgba(255,255,255, 0) 80%);
    animation: shimmer 1.75s infinite linear;
}

@keyframes shimmer {
    0% { transform: translateX(-300%); }
    100% { transform: translateX(300%); }
}

/* Custom Fields Errors */

.panel-switch .hasError .control-label,
.panel-switch .hasError .labelyn, 
.panel-switch .hasError .select-more {
    color: var(--colors-error-light);
}

.panel-switch .hasError .form-control,
.panel-switch .hasError .form-control-btn {
    box-shadow: 0px 0px 5px var(--colors-error-light);
    border: 1px solid var(--colors-error-light);
    color: var(--colors-error-light);
}
    
.panel-switch .hasError .control-label:before,
.panel-switch .hasError:has(input[type=checkbox]) span:before {
    content: '\f06a';
    color: var(--colors-error-light);
    padding-right: 3px;
    display: inline-block;
    left: 6px;
    font-family: 'FontAwesome';
}

/* Custom Fields Warnings */

.panel-switch .hasWarning .control-label,
.panel-switch .hasWarning .labelyn, 
.panel-switch .hasWarning .select-more {
    color: var(--colors-warning-light);
}

.panel-switch .hasWarning .form-control,
.panel-switch .hasWarning .form-control-btn {
    box-shadow: 0px 0px 5px var(--colors-warning-light);
    border: 1px solid var(--colors-warning-light);
    color: var(--colors-warning-light);
}
    
.panel-switch .hasWarning .control-label:before,
.panel-switch .hasWarning:has(input[type=checkbox]) span:before {
    content: '\f06a';
    color: var(--colors-warning-light);
    padding-right: 3px;
    display: inline-block;
    left: 6px;
    font-family: 'FontAwesome';
}

/* Custom Fields Changed */

.panel-switch .hasChanged .control-label,
.panel-switch .hasChanged .labelyn, 
.panel-switch .hasChanged .select-more {
    color: var(--colors-changed-light);
}

.panel-switch .hasChanged .form-control,
.panel-switch .hasChanged .form-control-btn {
    box-shadow: 0px 0px 5px var(--colors-changed-light);
    border: 1px solid var(--colors-changed-light);
    color: var(--colors-changed-light);
}

.panel-switch .hasChanged .control-label:before,
/* .panel-switch .hasChanged:has(input[type=checkbox]) span:before {
    content: '\f06a';
    color: var(--colors-changed-light);
    padding-right: 3px;
    display: inline-block;
    left: 6px;
    font-family: 'FontAwesome';
} */

/* Modal Dialogue Styling */

.modal-dialog .errorHeader {margin: 20px 0px;}
.modal-dialog ul.errorList li { text-align: left;}

.modal-dialog .warningHeader {margin: 20px 0px;}
.modal-dialog ul.warningList li { text-align: left;}

.modal-dialog:has(.errorHeader) h4 { color: pink; }
.modal-dialog:has(.errorHeader) button.btn-success { 
    background-color: red;
    border: 1px solid red;    
}

.modal-dialog:has(.warningHeader) h4 { color: orange; }
.modal-dialog:has(.warningHeader) button.btn-success { 
    background-color: orange;
    border: 1px solid orange;    
}

/* Required Field Asterisk */

.panel-selector.requiredField span[translate]:after {
    content: '*';
    color: var(--colors-error);
    position: relative;
    display: inline;
    left: 3px;
}

div[field="description"].requiredField:after {
    content: '*';
    color: var(--colors-error);
    position: absolute;
    display: inline;
    right: -10px;
    top: 0px;
}

.text-area-container:has(textarea#title.requiredField):after {
    content: '*';
    color: var(--colors-error);
    position: absolute;
    display: inline-block;
    top: 0px;
    right: -10px;
} 

.panel-switch .requiredField .control-label:after,
.panel-switch .requiredField:has(input[type=checkbox]) span:after {
    content: '*';
    color: var(--colors-error-light);
    display: inline;
    padding-left: 3px;
    right: 0px;
}

/* Hidden Field */

[data-field-name].hiddenField {
  max-height: 0;
  opacity: 0;
}

/* Tooltip styling */

.hasErrorTooltip .tooltip-inner {
    background: black !important;
}

.hasErrorTooltip  .tooltip-arrow {
    border-top-color: black !important;
}